<div class="col-sm-6">
  <img src="images/female_thinking.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Make a Todo and reduce gathering points</h1>
  <form class="description-form" action="/" method="post">
    <label for="description">Description of Todo:</label>
    <textarea id="description" name="description" rows="4" cols="50">
    </textarea>
    <input type="submit" name="submit">
  </form>
</div>


