<div class="col-sm-6">
  <img src="images/home_todo.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> Please create a Todo to always be on schedule.</p>
  <p> If you want to see your Todo list, click <a href="/allTodos">the Todos page</a></p>
  <p> You can <a href="/form"> create a Todo here </a> and maximize your time.</p>
</div>
