<div class="col-sm-6">
  <img src="../images/update_todo.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Update your Todo</h1>
    <form class="description-form" action="/update/<%=uniqueid %>" method="post" >
      <label for="description">Description of Todo:</label>
      <textarea id="description" name="description" rows="4" cols="50">
      </textarea>
      <input type="submit" name="submit">
    </form>
  </div>
  